body{
	background-color: #b4eacf;
}
p{
	font-size: 20px;
	font-family: sans-serif;
	padding: 10px;
	margin: 10px;
}
a:hover {
	color:white;
}

table {
	border: 1px black dashed;
}

h1{
	font-family: sans-serif;
	padding: 10px;
	margin: 10px;
}
h1:hover {
	color: white;
}
a:link{
	color:#d9f4e7;
}

a:visited{
	color: black;
}
ul{
	font-size: 20px;
	font-family: sans-serif;
	padding: 10px;
	margin: 10px;